.cardConTexto {
  padding: 2px 16px;
  height: 120px;
  margin: 0.7% 1.2% 1% 0.7%;
  border-radius: 7px;
  box-shadow: 3px 0px 5px 1px rgba(128, 144, 175, 0.664);
  position: relative;
}

.cardConTexto:hover {
  box-shadow: 0px 1px 5px 2px #488aff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.h1Input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.pInput {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleteCard {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
  width: 110px;
}
.deleteCard:hover {
  background-color: #ff4500;
}

.restaurar {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #45e94dce;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
}

.restaurar:hover {
  background-color: #00ff0d;
}

/* buscador */
.mensaje-busqueda {
  text-align: center;
  font-weight: bold;
}

/* display grid cuando apretan para cambiar la forma  */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 15px;
}
